datadir="/var/lib/proxysql"

admin_variables=
{
  admin_credentials="admin:KFE8ztV2DU;radmin:vNT8KHR3qZ"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=2
  max_connections=2048
  default_query_delay=0
  default_query_timeout=36000000
  have_compress=true
  poll_timeout=2000
  interfaces="0.0.0.0:6033"
  default_schema="information_schema"
  stacksize=1048576
  server_version="5.7.12"
  connect_timeout_server=3000
  monitor_username="monitor"
  monitor_password="B3DJWQ6CygmaU9Mz"
  monitor_history=600000
  monitor_connect_interval=5000
  monitor_ping_interval=2000
  monitor_read_only_interval=1500
  monitor_read_only_timeout=500
  ping_interval_server_msec=15000
  ping_timeout_server=500
  commands_stats=true
  sessions_sort=true
  connect_retries_on_failure=10
}

# defines all the MySQL servers
mysql_servers =
(
	{ hostname="development-1-aurora2-10-cluster.cuxzosrizmde.ap-southeast-1.rds.amazonaws.com" , port=3306 , hostgroup=0, max_connections=5000 },
  { hostname="development-1-aurora2-10-cluster.cuxzosrizmde.ap-southeast-1.rds.amazonaws.com" , port=3306 , hostgroup=1, max_connections=5000 }
)


# defines all the MySQL users
mysql_users=
(
	{ username="zenyappdev" , password="aflEYP387mvxLK2" , default_hostgroup=0 , active=1 }
)



#defines MySQL Query Rules
mysql_query_rules=
(
	{
		rule_id=1
		active=1
		match_pattern="^SELECT .* FOR UPDATE$"
		destination_hostgroup=0
		apply=1
	},
	{
		rule_id=2
		active=1
		match_pattern="^SELECT"
		destination_hostgroup=1
		apply=1
	}
)


mysql_aws_aurora_hostgroups=
(
        {
                writer_hostgroup=0
                reader_hostgroup=1
                active=1
                aurora_port=3306
                writer_is_also_reader=1
                comment="zeny"
                domain_name=".cuxzosrizmde.ap-southeast-1.rds.amazonaws.com"
       }
)